<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".pl" allowed="false" />
                </fileExtensions>
            </requestFiltering>
            <authentication>
                <anonymousAuthentication userName="" />
            </authentication>
        </security>
        <httpErrors errorMode="Detailed" />
        <handlers>
            <remove name="cfswfHandler" />
            <remove name="cfrHandler" />
            <remove name="cfmlHandler" />
            <remove name="cfmHandler" />
            <remove name="cfcHandler" />
            <add name="cfcHandler" path="*.cfc" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\18\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfmHandler" path="*.cfm" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\18\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfmlHandler" path="*.cfml" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\18\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfrHandler" path="*.cfr" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\18\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfswfHandler" path="*.cfswf" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\18\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
